<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Masonry布局的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E72686BC1E5D379D003F98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72686D51E5D379E003F98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72686E01E5D379E003F98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
